{% extends 'my_app/base.html' %}

{% block title %}
    Deepseek
{% endblock %}

{% block content%}
<h1 align="center" xmlns="http://www.w3.org/1999/html">Как установить и использовать ИИ модель DeepSeek R-1 на вашем компьютере</h1>
    <br>
    <div>
        <p>Многие говорят о <b>DeepSeek R-1</b> - новой языковой ИИ-модели с открытым исходным кодом, созданной китайской ИИ-компанией DeepSeek. Некоторые пользователи утверждают, что по возможностям рассуждения она не уступает или даже превосходит модель o1 от OpenAI.</p>
        <p>В настоящее время DeepSeek можно использовать бесплатно, что является отличной новостью для пользователей, но вызывает некоторые вопросы. Как при таком резком росте числа пользователей они справляются с затратами на сервера? Ведь эксплуатационные расходы на оборудование не могут быть дешевыми, верно?</p>
        <p>Единственный логичный ответ здесь - данные. Данные - это жизненная сила ИИ-моделей. Вероятно, они собирают данные о пользователях, чтобы использовать их для монетизации своей модели в будущем.</p>
        <p>Поэтому, если вы беспокоитесь о конфиденциальности данных, но при этом хотите использовать R1, не предоставляя свои данные, лучший способ - запустить модель локально.</p>
        <h3>Что такое DeepSeek R-1?</h3>
        <p>Пару дней назад была представлена модель Deepseek R-1 с открытым исходным кодом, то есть любой желающий может взять базовый код, адаптировать его и даже доработать под свои нужды.</p>
        <p>С технической точки зрения Deepseek R-1 (часто сокращенно R1) основана на большой базовой модели под названием DeepSeek-V3. Затем лаборатория усовершенствовала эту модель с помощью комбинации контролируемой тонкой настройки (SFT) на высококачественных данных, размеченных людьми, и обучения с подкреплением (RL).</p>
        <p> результате получился чатбот, который может обрабатывать сложные запросы, раскрывать логику сложных вопросов (иногда более прозрачно, чем другие модели) и даже отображать код в интерфейсе чата для быстрого тестирования.</p>
        <p>Честно говоря, это очень впечатляет, особенно для модели с открытым исходным кодом.</p>
        <h3>Как запустить локально</h3>
        <p>Для локального запуска DeepSeek R-1 мы будем использовать инструмент под названием Ollama.</p>
        <p><b>Ollama</b> - это бесплатный инструмент с открытым исходным кодом, который позволяет пользователям запускать большие языковые модели (LLM) локально на своих компьютерах. Он доступен для macOS, Linux и Windows.</p>
        <p>Перейдите на официальный сайт Ollama и нажмите на кнопку «Download». Установите его на свой компьютер.</p>
    </div>
{% endblock %}