<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Контактная информация -->
            <div class="col-md-6 mb-3">
                <h5>Контактная информация</h5>
                <ul class="list-unstyled">
                    <li>Адрес: 220001 пр-т Независимости 88, г Минск, РБ</li>
                    <li>Телефон: +375 29 1234567</li>
                    <li>Email: info@example.com</li>
                </ul>
            </div>

            <!-- Социальные сети -->
            <div class="col-md-6 mb-3">
                <h5>Мы в социальных сетях</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3">
                        <a href="https://www.facebook.com/" class="text-light">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li class="me-3">
                        <a href="https://x.com/" class="text-light">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="text-light">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>