{% extends 'my_app/layoute.html' %}

{% block title %}
    Hailuo AI
{% endblock %}

{% block content%}
    <h1 align="center">Hailuo AI: что за нейросеть и как ею пользоваться</h1>
    <br>
    <div>
        <p><b>Hailuo AI</b> Video — сервис для создания видео на базе искусственного интеллекта. Нейросеть внутри Hailuo AI способна за несколько минут создать ролик из текстового описания или загруженного изображения. Созданные видео можно использовать в процессе создания полноценных видео в качестве референсов или для черпания идей из них.</p>
        <p>Для генерации видео в Hailuo используется нейросеть MiniMax. Она создаёт короткие детализированные ролики в запрашиваемых стили: от кинематографичной картинки до нарисованной анимации. Единственное ограничение — воображение пользователя и хронометраж в 6 секунд. Для создания видео пользователю достаточно авторизироваться, в поле для ввода запроса добавить описание ролика и нажать на кнопку «Create».</p>
        <p>Чтобы получился достойный ролик, нужно детальнее описывать его содержимое. При необходимости можно включить функцию автоматического улучшения запроса, она добавит деталей в подсказку перед её отправкой нейросети. Внутрь запроса можно приложить изображение, тогда нейросеть будет использовать его за основу и с помощью подсказки сделает из него ролик. Сгенерированные ролики хранятся в профиле пользователя, их можно посмотреть или скачать в формате MP4.</p>
    </div>
    <h3>Особенности Hailuo AI</h3>
    <ul>
        <li>Генерация 6-секундных роликов</li>
        <li>Генерация с помощью подсказки или изображения</li>
        <li>Автоматическое улучшение подсказки для нейросети</li>
        <li>Скачивание сгенерированных роликов в формате MP4</li>
        <li>Использование нейросети MiniMax для генерации</li>
        <li>Генерация видео через API</li>
    </ul>
{% endblock %}