<!-- Указываем базовую страницу -->
{% extends 'my_app/layoute.html' %}

{% block title %}
	Новостная страница
{% endblock %}


{% block content %}

	<h1>Новостная страница</h1>

	<!-- Перебираем все новости в списке -->
	{% for new in news %}
		<!-- Выводим на сайт всю информацию по новости -->
		<div>
			<h3> {{ new.title }} </h3>
			<p><b> Автор: </b> {{ new.author }} </p>
			<p><b> Дата публикации: </b> {{ new.pub_date }} </p>
			<br>
			<p> {{ new.short_description }} </p>
			<br>
			<p> {{ new.text }} </p>
		</div>

	{% endfor %}

{% endblock %}